.div{
    display: flex;
    padding: 50px;
    background-color: #1E1E1E;
    flex-direction: column;
    
}

.img{
    margin: 10px;
    padding: 10px;
}

.divImg{
    align-self: center;
}

.divCont{
    background-color: rgba(255, 235, 205, 0.39);;
}

.title{
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding: 10px;
}

.divInfo{
    background-color: darkgrey;
    margin: 20px;
    padding: 20px;
    }

.link{
    text-decoration: none;
    color:black;
}
.link:hover{
    color:mediumblue
}

.button{
    background-color: #9C0018;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 0px 0px 0px;
    cursor: pointer;
    width: 100%;
}

.buttonOff{
    display: none;
}