.div{
    background-color: #1E1E1E;
    display: flex;
    height: 83.3vh;
    color:white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    
}

.a{
    color:white;
    font-size: large;
    
}