.div {
  background-color: #1e1e1e;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.img {
  height: 200px;
}

.divMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
