.div{
  height: 100%;
  
}

.divNav{
  width: 20%;
  background-color: darkslategray;
  padding: 10px 10px 50px 10px;
  margin-top: 50px;
  position: fixed;
  min-height: 100%;
  overflow: auto;
  max-height: 100%;
    
}

.none{
  width: 20%;
  background-color: darkslategray;
  padding: 10px 10px 50px 10px;
  margin-top: 50px;
  position: fixed;
  min-height: 100%;
  overflow: auto;
  max-height: 100%;
    
}

.divContent{
  width: 80%;
  height: 100%;
  padding-left: 20%;
  padding-top: 0px;

}

.topBar{
  position: fixed;
  display: flex;
  width: 100%;
  height: 50px;
  z-index: 2;
}
.line {
  width: 35px;
  height: 5px;
  background-color:white;
  margin: 6px 0;
}
.hamb{
  display: none;
}
.transp{
  display: none;
  width: 20%;
  background-color: transparent;
  padding: 10px 10px 50px 10px;
  margin-top: 50px;
  position: fixed;
  min-height: 100%;
  overflow: auto;
  max-height: 100%;
}


@media (max-width: 768px) {
  .divContent{
    width: 100%;
    padding-left: 0%;
  }
  .divNav{
    width: 50%;
    z-index: 30;
    background-color: rgba(47, 79, 79, 0.70);

  }
  .divNavNone{
    width: 10%;
    min-width: 40px;
    background-color: rgba(47, 79, 79, 0.70);
    padding: 5px;
    margin-top: 50px;
    position: fixed;
    overflow: auto;
  }
  .hamb{
    display: block;
  }
  .none{
    display: none !important;
  }
  
  .transp{
    display: flex;
    width: 100%;
    z-index: 29;
  }
  
}
